@media(min-width:1220px) {
    .postcontent {
        .container {
            max-width: 1180px;
        }
    }
}

.postcontent {
    padding: 110px 0 ;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: #222222;
        text-transform: uppercase;
    }

    h1 {
        font-size: 38px;
        font-weight: 700;
        line-height: 140%;
        margin-bottom: 110px;
        text-align: center;
    }

    h2 {
        font-weight: 700;
        font-size: 32px;
        line-height: 140%;
        margin-bottom: 20px;

    }

    h3 {
        font-weight: 700;
        font-size: 28px;
        line-height: 140%;
        margin-bottom: 20px;
    }

    h4 {
        font-weight: 600;
        font-size: 24px;
        line-height: 140%;
        margin-bottom: 20px;
    }

    h5 {
        font-weight: 600;
        font-size: 20px;
        line-height: 130%;
        margin-bottom: 20px;
        margin-top: 60px;
    }

    h6 {
        font-weight: 600;
        font-size: 18px;
        line-height: 130%;
        margin-bottom: 20px;
    }

    img {
        width: 100%;
        margin-bottom: 60px;
        display: block;
        margin-top: 30px;
    }

    p {
        color: #222222;
        font-size: 18px;
        line-height: 150%;
        margin-bottom: 10px;
    }

    ul {
        padding: 0;
        margin: 0;
        list-style-type: none;
        display: flex;
        max-width: 720px;
        flex-wrap: wrap;

        li {
            position: relative;
            padding-left: 15px;
            width: 100%;
            max-width: 50%;
            flex: 0 0 50%;
            padding-right: 20px;
            margin-bottom: 15px;

            &::after {
                content: '';
                display: inline-block;
                width: 5px;
                height: 5px;
                border-radius: 50%;
                background: #735527;
                position: absolute;
                left: 0;
                top: 9px;
            }
        }
    }









}

@media(max-width:1600.8px) {
    .postcontent {
        padding: 70px 0 ;

        h1 {
            margin-bottom: 50px;
        }
    }
}

@media(max-width:1199.8px) {

    .postcontent {
        h1 {
            font-size: 34px;
            margin-bottom: 50px;
        }

        h2 {
            font-size: 30px;

        }

        h3 {
            font-size: 26px;
        }

        h4 {
            font-size: 22px;
        }

        h5 {
            font-size: 20px;
        }

        h6 {
            font-size: 18px;
        }

    }

    .postcontent {
        padding-top: 80px;
    }



}

@media(max-width:767.8px) {
    .postcontent {

        h1 {
            font-size: 31px;
        }

        h2 {
            font-size: 28px;

        }

        h3 {
            font-size: 24px;
        }

        h4 {
            font-size: 21px;
        }

        h5 {
            font-size: 18px;
        }

        h6 {
            font-size: 16px;
        }
    }

    .postcontent {
        padding: 60px 0;
    }


}

@media(max-width:575.8px) {
    .postcontent {
        padding: 50px 0;
    }

    .postcontent {
        h1 {
            font-size: 24px;
        }

        h2 {
            font-size: 22px;
        }

        h3 {
            font-size: 18px;
        }

        h4 {
            font-size: 17px;
        }

        h5 {
            font-size: 16px;
        }

        h6 {
            font-size: 16px;
        }

    }

    .postcontent h1 {
        margin-bottom: 30px;
    }

    .postcontent img {
        margin-top: 20px;
        margin-bottom: 30px;
    }

    .postcontent p {
        font-size: 16px;
    }

    .postcontent h5 {
        margin-top: 40px;
        margin-bottom: 15px;
    }

    .postcontent ul li {
        max-width: 100%;
        flex: 0 0 100%;
        margin-bottom: 10px;
    }










}